/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Define color palette */
:root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #e74c3c; /* Red */
    --text-color: #333; /* Dark Gray */
    --background-color: #f2f2f2; /* Light Gray */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Cart Styles */
.cart {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
}

/* Section Styles */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Book Styles */
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.book img {
    max-width: 100px;
    max-height: 150px;
    margin-bottom: 10px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    header h1 {
        font-size: 2rem;
    }

    .cart {
        top: 10px;
        right: 10px;
    }

    .book img {
        max-width: 80px;
        max-height: 120px;
    }
}

.gunajn{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
